
/cloud_api/.vs
/cloud_api/packages
/cloud_api/RedditCloudService/csx/Debug/
/cloud_api/AdminToolsConsoleApp/.vs
/cloud_api/AdminToolsConsoleApp/bin
/cloud_api/HealthMonitoringService/.vs
/cloud_api/AdminToolsConsoleApp/obj
/cloud_api/RedditServiceWebRole/obj
/cloud_api/RedditServiceWebRole/obj
/cloud_api/RedditServiceWebRole/obj
/cloud_api/RedditServiceWebRole/obj
/cloud_api/RedditServiceWebRole/bin
/cloud_api/HealthStatusService/bin
/cloud_api/HealthStatusService/bin
/cloud_api/HealthStatusService/obj
/cloud_api/HealthMonitoringService/bin
/cloud_api/HealthMonitoringService/obj
/cloud_api/NotificationService/bin
/cloud_api/NotificationService/obj
/cloud_api/RedditCloudService/bin
/cloud_api/RedditCloudService/obj
/cloud_api/RedditDataRepository/bin
/cloud_api/RedditDataRepository/obj
/cloud_api/RedditDataRepository/obj
/cloud_api/RedditCloudService/obj
/cloud_api/NotificationService/obj
/cloud_api/HealthStatusService/obj
